.config/Atom
.config/gconf
.config/dconf
.config/pulse
.config/chromium
.config/pavucontrol.ini
.config/Postman
.config/configstore
.config/gcloud
.config/yarn
.config/neofetch
.config/gtk-*
.config/vlc
.config/inkscape
.config/google-chrome-unstable
.config/Trolltech.conf
