.config/antigen/antigenrc.zwc
.config/archey3.cfg
.config/Atom
.config/autostart
.config/breezy
.config/canto
.config/chromium
.config/chromium
.config/citra-emu
.config/clemex
.config/clemex-desktop
.config/Code\ -\ OSS
.config/configstore
.config/dconf
.config/deluge
.config/devcert
.config/Dharkael
.config/discord
.config/Electron
.config/enchant
.config/eog
.config/evolution
.config/fcitx
.config/font-manager
.config/fontforge
.config/freerdp
.config/gatsby
.config/gcloud
.config/gconf
.config/gedit
.config/gmic
.config/google-chrome-unstable
.config/GREYC
.config/gtk-3.0/bookmarks
.config/gtk-3.0/servers
.config/htop
.config/ibus
.config/inkscape
.config/karboncalligraphyrc
.config/krita*
.config/ktikzrc
.config/lutris
.config/manuskript
.config/menus
.config/Microsoft
.config/nautilus
.config/neofetch
.config/nvm
.config/pip
.config/pavucontrol.ini
.config/Postman
.config/pulse
.config/QtProject.conf
.config/Raven\ Reader
.config/remmina
.config/Slack
.config/sourcery
.config/teams
.config/Thunar
.config/Trolltech.conf
.config/VirtualBox
.config/vlc
.config/xfce4
.config/yarn/global
.config/yarn/link
.config/zettlr
.config/znt
.config/zsh/.zcompdump*


.local/bin
.local/lib
.local/share/.python_history
.local/share/.z
.local/share/citra-emu
.local/share/evolution
.local/share/flatpak
.local/share/folks
.local/share/gnome-settings-daemon
.local/share/gnome-shell
.local/share/gnupg
.local/share/gsettings-data-convert
.local/share/gvfs-metadata
.local/share/icc
.local/share/icons
.local/share/keyrings
.local/share/krita*
.local/share/lutris
.local/share/manuskript
.local/share/mime
.local/share/node_repl_history
.local/share/nvim
.local/share/nvm
.local/share/orca
.local/share/ranger
.local/share/recently-used.xbel
.local/share/Steam
.local/share/tracker
.local/share/Trash
.local/share/virtualenv
.local/share/vlc
.local/share/vsliveshare
.local/share/webkitgtk
.local/share/xorg
.local/share/yarn
.local/share/zathura
.local/share/zsh
