.config/archey3.cfg
.config/antigen/antigenrc.zwc
.config/Atom
.config/autostart
.config/breezy
.config/canto
.config/chromium
.config/chromium
.config/citra-emu
.config/clemex
.config/clemex-desktop
.config/Code\ -\ OSS
.config/configstore
.config/dconf
.config/deluge
.config/devcert
.config/Dharkael
.config/discord
.config/Electron
.config/enchant
.config/eog
.config/evolution
.config/font-manager
.config/fontforge
.config/freerdp
.config/gatsby
.config/gcloud
.config/gconf
.config/gedit
.config/google-chrome-unstable
.config/gtk-3.0/bookmarks
.config/gtk-3.0/servers
.config/htop
.config/ibus
.config/inkscape
.config/lutris
.config/menus
.config/Microsoft
.config/nautilus
.config/neofetch
.config/nvm
.config/pavucontrol.ini
.config/Postman
.config/pulse
.config/QtProject.conf
.config/Raven\ Reader
.config/remmina
.config/Slack
.config/sourcery
.config/teams
.config/Thunar
.config/Trolltech.conf
.config/VirtualBox
.config/vlc
.config/xfce4
.config/yarn
.config/zettlr
.config/znt

.local/bin
.local/lib
.local/share/applications/citra-emu
.local/share/applications/evolution
.local/share/applications/flatpack
.local/share/applications/folks
.local/share/applications/gnome-settings-daemon
.local/share/applications/gnome-shell
.local/share/applications/gsettings-data-convert
.local/share/applications/gvfs-metadata
.local/share/applications/icc
.local/share/applications/icons
.local/share/applications/keyrings
.local/share/applications/krita
.local/share/applications/lutris
.local/share/applications/mime
.local/share/applications/ranger
.local/share/applications/recently-used.xbel
.local/share/applications/Steam
.local/share/applications/Thrash
.local/share/applications/vlc
.local/share/applications/vsliveshare
.local/share/applications/webkitgtk
.local/share/applications/xorg
.local/share/applications/yarn
.local/share/applications/zathura
.local/share/applications/zsh
