! rofi -- dmenu clone
rofi.opacity:  90
rofi.width:    70
rofi.lines:    10
rofi.font:     sourcecodepro 12
rofi.location: 0
rofi.padding:  7

rofi.color-enabled: true
rofi.color-window: #222222,#959595

rofi.color-window: #000000, #454545, #414141
rofi.color-normal: #000000, #ffffff, argb:0323232, argb:57586e75, #eee8d5
rofi.color-active: argb:0323232, #268bd2, argb:0eee8d5, #1c1c1c, #fdf6e3
rofi.color-urgent: #000000, #c89493, argb:0323232, #2d2d2d, #fdf6e3
