@define-color background rgba(0, 0, 0, 0.6);
@define-color foreground white;
@define-color focused    rgba(255, 255, 255, 0.15);
@define-color blue       #268bd2;
@define-color yellow     #fabd2f;
@define-color red        #fb4934;
@define-color green      #b8bb26;


* {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans Mono", Roboto, sans-serif, "FontAwesome 6 Free Solid";
    font-size: 13px;
}

window#waybar {
    background: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @foreground;
    border-top: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-top: 3px solid #ffffff;
}

#workspaces button.focused {
    background: @focused;
    border-top: 3px solid @blue;
}

#workspaces button.urgent {
    color: @red;
}

#mode {
    background-color: @backgroup;
    border-top: 2px solid @background;
}

#clock,
#language,
#battery,
#bluetooth,
#cpu,
#memory,
#backlight,
#network,
#network.speed,
#pulseaudio,
#tray,
#mode,
#disk,
#temperature,
#custom-headset_battery,
#custom-battery_power_consumption,
#custom-recording,
#custom-updates,
#custom-dnd,
#custom-progress
{
    padding: 0 5px;
    margin: 0 3px;
    border-top: 3px solid transparent;
}

#network.speed {
    margin-right: 20px;
}

#tray {
    border-top: 3px solid transparent;
}

